* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.list {
    width: 70%;
    height: 800px;
    margin: auto;
    padding-top:40px;
    background-color: #e5e2e2;
}
.container {
    width: 85%;
    height: 94%;
    margin: auto;
    /*border: 1px solid black;*/
}
.header {
    width: 100%;
    height:100px;
    /*border: 1px solid red;*/
}
.left {
    width: 30%;
    height: 30px;
    float: left;
    background-color: black;
}
.right {
    width: 20%;
    height: 30px;
    float: right;
    background-color: black;
}
.center {
    width: 100%;
    height: 30px;
    float: left;
    background-color: black;
    margin-top: 40px;
}
.clear {
    clear: both;
}
.articles {
    border: 2px solid red;
    width: 100%;
    margin-top: 20px;
}
.article1 {
    width: 29.5%;
    height: 160px;
    margin: 5px 0px 8px 10px;
    /*border: 1px solid red;*/
    display: inline-block;
    overflow: hidden;
}
.box {
    width: 80px;
    height: 80px;
    background-color: black;
    margin: auto;
}
.article1 h6 {
    text-align: center;
    line-height: 3;
}
p {
    text-align: left;
    font-size: 8px;
    font: arial;
}
.content1 {
    width: 50%;
    /*height: 300px;*/
    margin-top: 50px;
    /*border: 1px solid red;*/
    display: inline-block;
}
.content1 .line1-left {
    width: 60%;
    height: 20px;
    background-color: black;
}
.content1 .line2-left {
    width: 90%;
    height: 35px;
    background-color: black;
    margin-top: 30px;
}
.content1 .story {
    width: 100%;
    height: 260px;
    margin-top: 20px;
    border: 2px solid red;
    padding: 3px;
}
.story .block {
    width: 100%;
    height: 28%;
    /*border: 1px solid green;*/
    margin-bottom: 20px;
}
.block .box {
    width: 26%;
    height: 100%;
    background-color: black;
    display: inline-block;
}
.block .story1 {
    width: 65%;
    height: 100%;
    display: inline-block;
    margin-left: 8px;
    overflow: hidden;
}
.story1 h6 {
    font-size: 8px;
    line-height: 3;
}
.story1 p {
    font: monospace 8px;
}

.content2 {
    width: 40%;
    /*height: 362px;?????*/
    margin: 50px 0px 0px 53px;
    /*border: 1px solid red;*/
    display: inline-block;
}
.content2 .line1-left {
    width: 80%;
    height: 30px;
    background-color: black;
}
.content2 .line2-left {
    width: 90%;
    height: 40px;
    background-color: black;
    margin-top: 15px;
}
.content2 .story {
    width: 100%;
    height: 270px;
    margin-top: 13px;
    border: 2px solid red;
    padding: 3px;
}
.story .block {
    width: 100%;
    height: 28%;
    /*border: 1px solid green;*/
    margin-bottom: 20px;
    padding: 4px;
    overflow: hidden;
}
.block h6 {
    font-size: 8px;
    line-height: 3;
} 
.block {
    font: monospace 8px;
}